@font-face {
  font-family: AppleFont;
  src: url("../fonts/apple/AppleFont.ttf");
}

html,
body,
#game-container {
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
#game-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game-container > canvas {
  border-radius: 5px;
}
